.detail-page {
    .detail-page-content {
        width: 1190px;
        margin: 0 auto;
        .header-breadcrumb {
            padding: 19px 0;
            color: #222;
            .el-breadcrumb__inner {
                font-size: 12px;
            }
        }
        .product-info-container {
            display: flex;
            padding: 20px 20px 33px;
            border: 1px solid #e5e5e5;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0px 5px 14px 0px rgb(0 0 0 / 10%);
            .info {
                width: 768px;
                .title {
                    h2 {
                        color: #666;
                        font-size: 26px;
                        position: relative;
                        .safe-mark {
                            color: #00c9b3;
                            font-size: 12px;
                            position: absolute;
                            right: 10px;
                            top: 10px;
                        }
                    }
                }
                .score-info {
                    color: #666;
                    font-size: 14px;
                    display: flex;
                    margin-bottom: 17px;
                    margin-top: 6px;
                    .price {
                        margin-left: 6px;
                    }
                }
                .desc {
                    padding: 16px 0 11px;
                    border-top: 1px solid #e5e5e5;
                    border-bottom: 1px solid #e5e5e5;
                    p {
                        margin-bottom: 10px;
                        color: #666;
                        font-size: 14px;
                    }
                }
                .feature {
                    padding-top: 20px;
                    font-size: 12px;
                    color: #666;
                    nav {
                        span.item {
                            width: 50px;
                            display:flex;
                            flex-direction: column;
                            margin-right: 16px;
                            text-align: center;
                            margin-right: 10px;
                        }
                    }
                }
            }
            .img {
                flex-grow: 1;
                text-align: right;
                .big-img {
                    margin-bottom: 10px;
                    img {
                        width: 380px;
                        height: 214px;
                        border-radius: 4px;
                    }
                }
                nav {
                    display: flex;
                    justify-content: flex-end;
                    a {
                        display: block;
                        width: 92px;
                        height: 50px;
                        margin-right: 4px;
                        &:last-child {
                            margin-right: 0;
                        }
                        img {
                            width: 100%;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }
    }
}