@import '~@/assets/css/public/mixin.scss';

.register-page {
    width: 980px;
    margin: 0 auto;

    header {
        @include clearfix;
        padding: 10px 0;
        height: 67px;
        box-sizing: border-box;
        line-height: 47px;
        border-bottom: 2px solid #D8D8D8;

        .logo {
            float: left;

            a {
                display: block;
                width: 130px;
                height: 47px;
                background: url('https://s0.meituan.net/bs/file/?f=fe-sso-fs:build/assets/logo.6a89007.png') no-repeat left/100% 100%;
                text-indent: 130px;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        .login-guide {
            float: right;

            .guide {
                color: #666;
                font-size: 14px;
                margin-right: 10px;
            }

            .el-button {
                color: #222;
                font-size: 12px;
                padding: 3px 10px;
                line-height: 1.5;
                border-radius: 2px;
                background-image: linear-gradient(135deg, #FFD000 0, #FFBD00 100%);
                border: 1px solid rgba(191, 105, 0, .15);
                box-shadow: 0 2px 1px 0 rgb(191 105 0 / 15%);
            }
        }
    }

    article {
        margin-bottom: 30px;
        padding-top: 30px;

        .register-form {
            .el-form {
                .el-input {
                    width: 330px;
                }
                .pw-strength {
                    .el-form-item__content {
                        width: 285px;
                        background: #eee;
                        z-index: 1;
                    }
                    .bar {
                        position: absolute;
                        width: 0px;
                        height: 20px;
                        background: #d3ebee;
                        z-index: 3;
                        transition: width .5s;
                        &.weak {
                            width: 93px;
                        }
                        &.normal {
                            width: 186px;
                        }
                        &.strong {
                            width: 283px;
                        }
                    }
                    .letter {
                        display: flex;
                        width: 285px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: 2;
                        span {
                            flex-grow: 1;
                            flex-shrink: 0;
                            font-size: 12px;
                            color: #fff;
                            display: block;
                            background: #eee;
                            border-right: 2px solid #fff;
                            width: 91px;
                            height: 20px;
                            // box-sizing: border-box;
                            line-height: 20px;
                            text-align: center;
                        }
                    }
                }
                input {
                    width: 285px;
                    height: 40px;
                    padding: 5px;
                    box-sizing: border-box;
                }

                label {

                    color: #333;
                    font-size: 14px;
                }

                .el-button {
                    background: #FFD100;
                    border-radius: 2px;
                    width: 285px;
                    border: none;
                    color: #222;
                    font-weight: bold;
                }
                .user-agreement-content {
                    color: rgba(0,0,0,.5);
                    font-size: 14px;
                    a {
                        color: #fe8c00;
                    }
                    .el-form-item__content {
                        width: 285px;
                        .el-checkbox__label {
                            white-space: normal;
                        }
                        .el-checkbox__input {
                            vertical-align: top;
                            .el-checkbox__inner {
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        padding-top: 20px;
        border-top: 1px solid #eee;

        .copyright {

            color: #999;
            font-size: 13px;
            text-align: center;
        }
    }
}